<!--
  Generated template for the QuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Examination View
      <span class="timmer-section"><img src="assets/imgs/clock.png">{{displayTime}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="background-sie-cover-all">

  </div>
  <div class="all-question-set">
    <ion-row>
      <ion-col col-12 *ngIf="total_question_array && total_question_array.length">
        <!-- <div class="set-num completed">01</div>
        <div class="set-num running">01</div> -->
        <div *ngFor="let qst of total_question_array">
        <div class="set-num" *ngIf="qst.attempted=='n'" (click)="gotoquestion(qst)">{{qst.qno}}</div>

          <div class="set-num completed" *ngIf="qst.attempted=='y'" (click)="gotoquestion(qst)">{{qst.qno}}</div>
        </div>



      </ion-col>
    </ion-row>
  </div>

  <div class="only-question-area-section">
    <ion-row>
      <ion-col col-12>

    <div class="actual-ques">
      <span class="ques-num">Q. {{current_question_no}}</span>
      <span class="ques-text"><p [innerHTML]="current_question"></p></span>
    </div>
<span class="ques-num">Options</span>
    <div class="answer-section" *ngIf="current_ans_array && current_ans_array.length">
      <ion-list radio-group >
        <ion-item *ngFor="let item of current_ans_array" >
          <ion-label>
            <span></span>
            <p [innerHTML]="item.choice"></p></ion-label>
          <ion-radio  [value]="item.answer_id" (click)="attempansaction(item.answer_id)" *ngIf="item.isattempted=='y'" checked></ion-radio>

          <ion-radio  [value]="item.answer_id" (click)="attempansaction(item.answer_id)" *ngIf="item.isattempted=='n'"></ion-radio>
        </ion-item>




      </ion-list>
    </div>

    <div class="next-btn-section" *ngIf="total_question_array && total_question_array.length">
      <button ion-button class="only-btn-next" (click)="saveQuest(current_question_no)" *ngIf="current_question_no < total_question_array.length">Save & Next</button>

        <button ion-button class="only-btn-next" (click)="prevQuest(current_question_no)" *ngIf="current_question_no > '1'">Previous</button>

       <button ion-button class="only-btn-next" (click)="savelastQuest(current_question_no)" *ngIf="current_question_no==total_question_array.length && !isDisable">Save</button>
    </div>


  </ion-col>
</ion-row>

<div class="if-your-exam-fins">
  <h2>If you have finished your Test</h2>
  <button ion-button class="finished-btn" (click)="confirmSubmit()">SUBMIT TEST</button>


</div>



  </div>

</ion-content>
