page-aboutus {
// header-css-start
.toolbar-background-md {
    border-color: #b2b2b2;
    background: #fff;
  }
  .toolbar-title-md {
    padding: 0px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #314385;
  
  }
  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #314384;
  
  
  }
  .scroll-content {
    background: #fff;
    padding:0px !important;
  }
  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  
    background-image: none !important;
  
    content: "";
  }
  
  // header-css-end





  // heard-backgroung-img-start
.background-sie-cover-all {
    background: url(../assets/imgs/app2.png);
    height: 215px;
    background-size: cover;
    width: 100%;
    float: left;
  }
  .upper-back-text {
    position: absolute;
    top: 35%;
  }
  // heard-backgroung-img-end





// banner-img
.banner-img img {
    height: 110px;
}
.banner-img {
    height: 110px;
}
// banner-img-end

.about-us-content {
    margin-bottom: 20px;
    padding: 0px 10px;
}
.about-us-content.why-us {
    margin-top: 20px;
}

.about-us-content p {
    font-size: 1.4rem;
    text-align: justify;
    line-height: 20px;
    margin: 0px;
}
.about-us-content h2 {
    margin: 0px 0px 20px 0px;
    font-size: 1.9rem;
    color: #881f41;
    font-family: PT sans;
    font-weight: 600;
}

}
