page-mytest {


.all-table-per-sec {
    width: 100%;
    float: left;
    border: 1px solid #314385;
}
ion-col.tab-text-head.col {
    border-left: 1px solid #314385;
    border-bottom: 1px solid #314385;
    font-size: 12px;
    background: #314385;
    color: #fff;
}
ion-col.col {
    border-left: 1px solid #314385;
    font-size: 12px;
}
.toolbar-title-md {
    padding: 0px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #314385;
}
.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #314385;
    background-color: transparent;
}














}
